body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    height: 100vh;
    width: auto;
    max-width: 100vw;
    aspect-ratio: 480 / 854;
    position: relative;
}

#wasm-container {
    display: block;
    width: 100%;
    height: 100%;
    border: 0px none;
    background-color: gray;

    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#wasm-repo {
    top: 10px;
    left: 10px;
    font-size: 1.8rem;
}

#wasm-fullscreen {
    top: 2.5rem;
    left: 10px;
    font-size: 3rem;
}

#wasm-fullscreen,
#wasm-repo {
    z-index: 10;
    border: 0px none;
    color: rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.0);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wasm-fullscreen:hover,
#wasm-repo:hover {
    color: rgba(255, 255, 255, 1.0);
}